/* Définition des polices personnalisées */

@font-face 
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    src: url(polices/Raleway/Raleway-VariableFont_wght.ttf) format(truetype),
         url(polices/Raleway/Raleway-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}


/* Eléments principaux de la page */

body
{

}
nav ul
{
    list-style-type: none;
}

/* Header */

header
{
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

#logo
{
    align-items: flex-start
}

header nav ul
{
    display: flex;
}

header nav li
{
    margin-right: 35px;
}

